.background > div{
	
	position:	fixed;
	background-position:	center top;
	background-repeat:	no-repeat;
	background-size:	cover;
	top:	0;
	left:	0;
	right:	0;
	bottom:	0;
	z-index:	-1;
	
	} 

.bgimg {
	background-image:	url(images/Wood_Wallpaper_bg.jpg) ;
	
	}

div.content{
	width:	950px;
	
	
	}
div.header{
	background-image:url(images/header.jpg);
	width:	950px;
	height:	134px;
	border:solid #FFF 2px;
	border-radius:5px 150px;
	box-shadow:5px 10px 60px #666666;
	
	
	}
div.menu {
	margin-top:20px;
	}