.background > div {
	position:	fixed;
	background-position:	center top;
	background-repeat:	no-repeat;
	background-size:	cover;
	top:	0;
	left:	0;
	right:	0;
	bottom:	0;
	z-index:	-1;
}
.bgimg {
	background-image:	url(images/Wood_Wallpaper_bg.jpg);
}
div.content {
	width:	950px;
	margin:0 auto;
}
div.header {
	background-image:url(images/header.jpg);
	width:	950px;
	height:	134px;
	border:solid #FFF 2px;
	border-radius:5px 150px;
	box-shadow:5px 10px 60px #666666;
}
div.menu {
	margin-top:20px;
}
div.menu ul {
	text-decoration:none;
}
div.menu ul > li {
	float:left;
	list-style-type:none;
	display:block;
	width:64px;
	height:64px;
	background-repeat:no-repeat;
}
li.home {
	background-image:url(images/HomeN.png);
}
li.children {
	background-image:url(images/childrenN.png);
}
li.terms {
	background-image:url(images/termsN.png);
}
li.contactus{
	background-image:url(images/contactus.png);
	}
li.score{
	background-image:url(images/ScoreN.png);
	}
li.register{
	background-image:url(images/ReagisterN.png);
	}
li.teachers{
	background-image:url(images/teachersN.png);
	}
li.aboutus{
	background-image:url(images/aboutusN.png);
	}